.list {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}
.item {
	padding: 15px;
	flex: 1 1 20%;
	text-align: center;
	box-shadow: 1px 1px 5px black;
	border-radius: 10px;
	background-color: azure;
}
.img {
	border-radius: 50%;
}
.name {
	padding-bottom: 5px;
	font-size: 25px;
}
.char {
	font-size: 20px;
}
